#.gitignore はgitの追跡を管理するための設定ファイルです
#容量の都合上,リソースファイルはgitで管理しません
#テストで用いたいデータは個別にresourceフォルダに配置してください
#resourceディレクトリ内の変更はpushをしても反映されません

#リポジトリのクローンに含まれるresourceディレクトリを無視する
/resource/

#目印として空のディレクトリを無視しない
!dontignore